body {
   // @include debug-vertical-alignment(); 
}

.presentation-only {
    background-color: #555555;
    color: #eeeeee;
    padding: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;    
    margin-top: 25px;
    margin-bottom: 25px;

    &:first-of-type {
        margin-top: 0;
    }
}

.sub-presentation {
    margin: 0 20px 40px;
}

// h2 {
//     margin-top: 0;
// }